#brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 20px; /* Brand Info Section 오른쪽 여백 추가 */
    margin-left: 20px; /* Brand Story Section 왼쪽 여백 추가 */
}

.brand-info {
    flex: 2;
    padding-right: 20px;
}
.brand-info p{
    margin-left: 20px;
}

.brand-image {
    flex: 1;
    display: flex; /* 내부 요소들을 수직 가운데 정렬하기 위해 필요 */
    align-items: center; /* 내부 요소들을 수직 가운데 정렬 */
}

.brand-image img {
    max-width: 50%;
    height: auto;
    margin: 0 auto; /* 이미지를 수평 가운데 정렬 */
}
#brand-story p pre{
    font-size: 20px;
}
